.botao {
    background-color: #90437D;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none; 
    cursor: pointer;
    color: #FFF;
    margin: 16px 0;
}

.botao:hover {
    background-color: #d763ba
}